/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');

/* Resets */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Declaring Global Variables */
:root{
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 20px;
}

body{
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);
}

h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}

a{
    text-decoration: none;
    display: inline-block;
}


/* Utility Classes */

.small-bold-text{
    font-size: 1rem;
    font-weight: 500;
}

.container{
    width: 1180px;
    width: 80%;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
}

.flex{
    display: flex;
    align-items: center;
}

.hover-link{
    color: var(--primary-text-color);
    transition: 0.5s ease-out;
}
.hover-link:hover{
    color: var(--accent-color);
}

.secondary-button{
    border: 1px solid var(--primary-text-color);
    border-radius: 6px;
    padding: 10px 24px;
    font-weight: 700;
    color: var(--primary-text-color) !important;
    transition: 0.2s ease-out;
}
.secondary-button:hover{
    border-color: var(--accent-color);
    color: var(--accent-color) !important;
}
.primary-button{
    font-weight: 700;
    background-color: var(--accent-color);
    border-radius: 6px;
    color: white !important;
    padding: 10px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
}
.primary-button:hover{
    background-color: var(--accent-color-dark);
}

/* Top banner */
.top-banner{
    background-image: url("./assets/asset\ 30.png");
    background-color: #4fb3d4;
    background-size: 300px;
}
.banner-text{
    color: white;
    padding: 15px 30px;
    text-align: center;
}

.nav-ul{
    font-weight: 500;
    list-style: none;
}

.navigation-section{
    justify-content: space-between;
    margin-top: 10px;
}

.company-logo img{
    width: 225px;   
    height: 40px; 
}

.nav-links ul{
    justify-content: end;
    gap: 20px;
}

/* .nav-links{
    width: 730px;
} */


/* Header Section */

.header-section{
    justify-content: center;
    padding: 50px var(--padding-inline-section) 0;
    /* gap: 50px; */
}
.get-started-button{
    margin-top: 20px;
}

.header-left{
    /* justify-content: start;
    align-items: center; */
    max-width: 40vw;
}
/* .header-right{
    justify-content: end;
    align-items: center;
} */
.header-right img{
    height: 400px;
}

/* Company Classes */
.companies-header{
    text-align: center;
    margin: 10px;
    margin-block: 20px;
}

.logos{
    /* width: 100%; */
    flex-wrap: wrap;
    justify-content: space-between;
}
.logo{
    padding: 5px 10px;
    height: 46px;
    border: 1px solid white;
    border-radius: 6px;
}
.logo:hover{
    border-color: var(--accent-color);
    cursor: pointer;    
}

/* Feeatures */

.features-section{
    background-image: url("./assets/asset\ 32.svg");
    background-size: 750px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 80px;
    text-align: center;
}
.features-header a{
    margin-top: 10px;
}
.features-area{
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}
.features-card{
    margin-top: 20px;
    flex-direction: column;
    gap: 20px;
    max-width: 30%;
    text-align: center;
}
.features-card img{
    width: 60px;
}

/* Big Feature Section */

.big-feature-section{
    justify-content: space-between;
    padding: 50px var(--padding-inline-section) 0;
}

.big-feature-left img{
    height: 400px;
}

.big-feature-right{
    max-width: 40vw;
}
.big-feature-right h4,h2,p{
    margin-top: 10px;
}

/* Examples Section */
/* .examples-header{
    text-align: center;
    margin: 10px;
}
.examples-header a{
    margin-top: 10px;
} */

.examples-header{
    flex-direction: column;
    gap: 20px;
}

.examples-area{
    justify-content: space-between;
    gap: 30px;
}

.examples-card{
    margin-top: 30px;
    width: 23%;
    position: relative;
    border: 1px solid inherit;
    border-radius: 5px;
    min-height: 350px;
    background: black;
    background:linear-gradient(rgb(0,0,0,0.1), rgb(0,0,0,0.8)), url("./assets/asset\ 35.jpeg");
    background-size: cover;
}

.examples-card:nth-child(2){
    background:linear-gradient(rgb(0,0,0,0.1), rgb(0,0,0,0.8)), url("./assets/asset\ 34.jpeg");
    background-size: cover;
}
.examples-card:nth-child(3){
    background:linear-gradient(rgb(0,0,0,0.1), rgb(0,0,0,0.8)), url("./assets/asset\ 36.jpeg");
    background-size: cover;
}
.examples-card:nth-child(4){
    background:linear-gradient(rgb(0,0,0,0.1), rgb(0,0,0,0.8)), url("./assets/asset\ 37.jpeg");
    background-size: cover;
}

.examples-card:hover{
    /* box-shadow: 20px 20px 50px 10px pink inset; */
    box-shadow: 0 0 30px grey ;
    transition: 0.2s ease-out;
}
.card-text{
    font-size: 1.2rem;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: white;
}

/* CTA Section */

.cta-section{
    margin-top: 30px;
    padding-top: 180px;
    width: 100%;
    height: 500px;
    background-color: #183b56;
}
.cta-section-container{
    flex-direction: column;
    color: white;
    justify-content: space-between;
    gap: 40px;
}

.cta-section-container p{
    color: white;
}


/* Footer Section */

footer{
    padding: 80px 0;
    background-color: #ebf2fa;
}

.link-column{
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 15px;
}

.footer-container{
    align-items: flex-start;
    justify-content: space-between;
}

/* Subfooter */

.subfooter{
    background-color: #b9cde4;
    padding: var(--padding-inline-section);
}

.subfooter-container{
    justify-content: center;
    gap: 50px;
}